body {
    font-family: Arial, sans-serif;
    background-color: #d0fbce;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.gallery-container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    background-color: rgb(254, 193, 193);
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-image {
    text-align: center;
    margin-bottom: 20px;
    
}

.main-image img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 5px;

   
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 5pc;
    padding: 10px;
}

.thumbnails img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    border-style: dashed;
}

.thumbnails img:hover {
    border-color: #333;
}
